<html>
<body>
<form action="" method="get">
<table>
<tr>
<td>ISBN</td>
<td><input type="text" name="ISBN" /></td>
</tr>
<tr>
<td>Title</td>
<td><input type="text" name="Title" /></td>
</tr>
<tr>
<td>AuthorName</td>
<td><input type="text" name="AuthorName" /></td>
</tr>
<tr>
<td>Publisher</td>
<td><input type="text" name="Publisher" /></td>
</tr>
<tr>
<td>PublishDate</td>
<td><input type="text" name="PublishDate" /></td>
</tr>
<tr>
<td>Price</td>
<td><input type="text" name="Price" /></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Add"></td>
</tr>
</table>
</form>
<li><a href="../">Search</a></li>
</body>
</html>